.collaborator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 100ms linear;
  pointer-events: none;
}

.cursor {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 1em;
  cursor: pointer;
}

.pointer {
  display: inline-block;
  transform: rotate(-127deg);
  font-size: 16px;
}

.userinfo {
  display: block;
  margin: 4px 16px;
  padding: 5px;
  white-space: nowrap;
}
