.nav {
  display: flex;
  background: rgb(44, 44, 44);
  flex: 0 0  auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: "0.8";
  fill: "white";
  stroke-width: 0;
}

.button:hover {
  background-color: rgb(75, 158, 244);
  opacity: 1;
}

.user {
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: 12px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 10px;
  height: 25px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
  line-height: 1em;
}
