{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json",
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "next", "prettier"],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "memberLike",
        "modifiers": ["public"],
        "format": ["camelCase"],
        "leadingUnderscore": "forbid"
      }
    ],
    "eqeqeq": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "object": true,
        },
      },
      {
        "enforceForRenamedProperties": false,
      },
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "^_"}]
  },
  "plugins": [
    "react", "@typescript-eslint"
  ]
}
