name: JS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    name: ESLint & Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'
      - name: npm install
        run: npm install
      - run: npm run check-format
      - run: npm run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'
      - name: npm install
        run: npm install
      - run: npm run build
